* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1600px;
    margin: auto;
}

/* header area design strats */
header {
    margin: 50px 170px 50px 170px;
}

.main-navarea {
    display: flex;
    justify-content: space-between;
}

.logo-section {
    display: flex;
    align-items: center;
}

.l-heading {
    font-size: 2.3rem;
}

.l-heading>span {
    color: #FF5400;
    font-size: 2.3rem;
}

.navarea {
    display: flex;
    justify-content: center;

}

.navarea>ul {
    display: flex;
    font-size: 1.1rem;
}

.navarea>ul>li {
    list-style: none;
    padding: 38px;
}

.navarea>ul>li>a {
    text-decoration: none;
    color: #424247;
    font-weight: 500;
}

.header-container {
    background-image: url(Images/header.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 520px;
    border-radius: 15px;
    margin-top: 48px;
}

.header-sub {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-textarea {
    width: 62%;
}

.h-text-title {
    color: #FFF;
    font-size: 4rem;
    padding: 20px;
}

.h-text-details {
    color: #FFF;
    font-weight: 400;
    font-size: 1rem;
}

.header-sbox {
    width: 78%;
    height: 12vh;
    background-color: #ffffff57;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header-sbox>input,
select {
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 16px 84px 16px 16px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-primary {
    padding: 16px 84px 16px 16px;
    border-radius: 8px;
    background: #FF5400;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    color: #FFF;
    padding: 16px 65px 16px 65px;

}

/* header section end */
/* main section starts */
main {
    margin: 50px 170px 50px 170px;
}

.our-pprl2 {
    display: flex;
    height: 100%;
    margin-left: -10px;
    margin-top: 100px;
}

.pprl-title {
    padding: 30px;
    width: 50%;
    height: 100%;
}

.pprl-title-h {
    color: #131318;
    font-size: 2.8rem;
    font-weight: 800;
}


.pprl-p {
    margin-bottom: 24px;
    margin-top: 24px;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.70);
}

.pprl-title>ul>li {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    padding-left: 10px;
}

.pprl-img {
    margin-left: 20px;
}

/* chose your destination section */

.CYD-h {
    color: #131318;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 100px;
}

.CYD-p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
}

.cyd-container {
    height: 400px;
}

.cyd-container>img {
    display: grid;
    width: 100%;
    height: 100%;
}

.img12 {
    height: 300px;
    width: 573px;
}

.img13 {
    width: 500px;
    height: 286px;
}





.whycu {
    margin-top: 600px;
    text-align: center;
}

.whycu-h {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}

.whycu-des {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

/* <!-- details section --> */

.main-dtls {
    display: flex;
    margin-top: 48px;
    gap: 24px;
}

.sub-dtls {
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 200px;
    padding: 32px;
}

.sub-dtls1 {
    margin-top: 50px;
    margin-bottom: 20px;

}

.sub-dtls2 {
    border-radius: 16px;
    width: 573px;
    height: 200px;
    padding: 32px;
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}

.sub-dtls4 {
    width: 573px;
    height: 200px;
    padding: 32px;
    background: rgba(251, 181, 99, 0.05);
    margin-top: 24px;
    margin-left: 250px;
}

/* details section end */

/* deals section */

.Deals-1 {
    text-align: center;
    margin-bottom: 50px;
}

.Deals-2 {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 24px;
}

.Deals-3 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.Deals4-main {
    background-image: url(Images/Group\ 39.png);
    background-size: cover;
    background-position: center;
    width: 1170px;
    height: 500px;
    padding-top: 60px;
    padding-bottom: 56px;
    border-radius: 10px;
}

.dlsicon {
    display: flex;
    margin-left: 90px;
    margin-top: 52px;
    gap: 20px;
}

.dls {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 389px;
    margin-left: 535px;
    margin-top: 60px;
}

.deals5-h {
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
    margin-left: 100px;
    margin-top: 50px;
}

.deals5-p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 100px;
}

.deals5-h4 {
    color: #FF5400;
    font-size: 1.4rem;
    font-weight: 800;
    margin-left: 100px;
    margin-top: 16px;

}

.price-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
    border: none;
    padding: 14px 24px;
    margin-left: 100px;
    margin-top: 20px;
}

.mrg {
    margin-bottom: 24px;
}

.dlss {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 389px;
    margin-left: 55px;
}

/* newsletter section desing */
.newslltr-sub {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-right: 50px;
}

.sub-newslltr {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px 40px 40px 40px;
}

.form>input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.f-inpt {
    padding: 16px 251px 16px 20px;
    margin-top: 100px;
    border: none;
}

.f-inpt2 {
    padding: 16px 251px 16px 20px;
    margin-top: 20px;
    border: none;
}

.btnprmr {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
    padding: 14px 170px 14px 170px;
    margin-top: 24px;
}
.sub-newslltr-h{
    color: #131318;
font-size: 1.8rem;
font-weight: 800;

}
.sub-newslltr-p{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
border-bottom: 1px solid;
 padding-bottom: 48px;
}
.sub-newslltr-img > img{
   margin-left: 10px;
   height: 600px;
   width: 700px;
   margin-right: 100px;
}







/* @media screen and (max-width: 600px) {
    header {
        margin: 22px 30px;
    }

    .navarea {
        width: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    .main-navarea,
    .header-sbox,
    .our-pprl2,
    {
    flex-direction: column;

}

.cyd-container {
    width: 335px;
    height: 176px border-radius: 16px;
}

.main-navarea {
    align-items: center;

}

.header-container {
    height: 100%;
    padding-bottom: 30px;

}

.header-sbox {
    height: 22vh;
}

.btn-primary {
    text-align: center;
    padding-left: 80px;
}

.our-pprl2,
.pprl-title-h,
.pprl-title>ul>li {
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.our-pplr {
    width: 100%;
}

.our-pprl2 {
    position: absolute;
    width: 100%;
    margin-left: -180px;
    margin-top: 200px;

}

.pprl-title {
    margin-top: 150px;
}

.row>img {
    height: auto;
    width: auto;
}

.cyd-container>img {
    width: 100%;
    height: 100%;
}

.row>div {
    flex: 1;
}

.row>img {
    grid-template-columns: repeat(1, 1fr);
}
} */